<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link  rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.min.css}"/>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<h2>Hello World!</h2>
<table>
    <th>序号</th>
    <th>名称</th>
        <tr th:each="phone : ${phones}">
            <td th:text="${phone.id}">1</td>
            <td th:text="${phone.name}">NUM</td>
        </tr>
</table>
</body>
</html>